/**
 * Spelloveryou Web Solutions
 *
 * @package      Facebook Page Fan Detection
 * @version      1.0.0
 * @FileName     Style.css
 * @Purpose      Facebook Application development
 * @author       Vinay Choudhary <http://www.facebook.com/vinay.way>
 * @company      Spelloveryou Web Solutions
 * @param        Null
 * @Location     Spelloveryou Web Solutions
 */

body{
	font-family: Trebuchet ms,Arial,Helvetica,sans-serif;
        color: #6E6E6E;
}




.tab_container {
	border: 0px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 500px;
	background: #fff;
}
.tab_content {
	padding: 0px;
	font-size: 0.9;
}