/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { margin: 0;	padding: 0;	border: 0;	outline: 0;	font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table {	border-collapse: seperate; border-spacing: 0; }
/* END RESET */


/*-----------------GENERAL STYLES-----------------*/
body { font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; direction:rtl; unicode-bidi: embed; }
body { font-family:Arial, Verdana,sans-serif;	font-size: 62.5%; margin:0;	line-height:160%; color:#444; }
A { color:#360; }
form input[type="button"],form input[type="submit"], input[type="button"], 
input[type="submit"] { font-family:Tahoma, Geneva, sans-serif; font-size:12px; padding-left:5px; padding-right:5px; padding-top:5px; padding-bottom:5px; font-weight:normal;	background-color: #218e3f; background-image: url(../../images/Templates/btn-bg.png);	font-weight:bold; border:none; color: #ffffff; border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;cursor: pointer;	}
#tile {background: #f4f4f4 url(../../images/Templates/bg_tile.jpg) repeat-y 50% 0; }
#wrapper { position: relative; width: 100%;  margin: 0 auto;background: url(../../images/Templates/top_bg.jpg) no-repeat 50% 0; height:300px;}
#page {width: 960px; margin: 0 auto; }
#content {padding: 15px; font-size: 1.2em; }
a {text-decoration: none;}
/*   end general */


/*--- HEADER -----*/
#header {height: 150px;font-size:11px;color: #fff;font-weight:600;position: relative;overflow: hidden; }
#header .language-menu { width: 320px;position: absolute; top: -4px; right: 0;height: 40px;}
#header .language-menu a { color: #fff;}
#header .language-menu a:hover { color: #6C3;}
#header .language-menu ul {list-style: none; margin-right:45px;  }
#header .language-menu ul.non-member  { margin-right:65px; }
#header .language-menu li {float: right; padding: 8px; text-aign: right; }

#header .main-menu { width: 600px; height: 50px;position: absolute;bottom:-5px;right:30px;overflow: hidden; }
#header .main-menu ul { list-style: none;}
#header .main-menu li {float: right; padding: 5px 10px;font-weight: 600; font-size: 170%;padding-right:20px;color: #fff;}
#header .main-menu li a { border-radius:5px; -moz-border-radius:5px 5px 5px 5px; -webkit-border-radius:5px; -khtml-border-radius:5px;color: #fff;display: block; padding: 5px 20px;}
#header .main-menu li a:hover { background-color: #2bac4d;}
#header .main-menu .selected-menu { background-color: #2bac4d;}

.farsi {font-size: 16px;}

#header .language-bar { width 400px; height: 50px; position: absolute; bottom: -5px; left: 0;line-height: 35px;font-size: 20px; font-wight: 100;padding-left: 20px;}
#header .language-bar a {color: #fff; }
/*-- END HEADER ----*/

/*------- SEARCH FORM ------*/
#searchForm { width: 100%; height: 170px; background-color: #fff; border: 1px solid #cccccc;background-color: #eeede9;} 
.wideField {width: 330px;}
.searchButt { float: right; display: block;width: 81px; height: 31px; padding-left: 20px;text-align: center; vertical-align: middle; text-decoration: none; color: #fff; font-weight: 600; font-size: 11px;line-height: 31px;background: url(../../images/Templates/search_butt.png) no-repeat top left;cursor: pointer; text-transform: uppercase;}
.newListingsButt {float: right; margin-right: 15px;display: block;width: 97px; height: 32px; text-align: center; vertical-align: middle; text-decoration: none; color: #fff; font-weight: 600; font-size: 11px;line-height: 32px;background: url(../../images/Templates/new_listings_butt.png) no-repeat top left;cursor: pointer; text-transform: uppercase;}

#searchFormTable {padding: 15px;}
#searchFormTable TD {padding: 0 0 5px 5px; vertical-align:top;}
#searchForm a.advanced-search { color: #360;font-size: 12px;font-style: italic;text-decoration: underline;}
#searchForm a.advanced-search:hover{ color: #444;font-size: 12px;}
/** -- end search form **/

/** -- listings --- */
.listings-heading {float:right; font-size: 20px; font-weight: 200; color: #1f883c; padding-left:8px;  padding-top:11px;}
.sortbyForm{float:left; }
/** -- end lisitngs --- */

/*---FEATURES ---*/
.feature-collection {width: 100%; padding-top: 20px; overflow:hidden;padding-bottom: 0px;}
.feature-collection h2.featured {font-style: italic;font-size: 170%; font-weight: 100; font-family:Georgia, "Times New Roman", Times, serif;margin-bottom: 15px; }
.featured-property { text-decoration:none; color:#444444; direction:ltr;}
.feature-box {width: 271px;position: relative;margin-right: 58px; float: left; }
.feature-box h3 { direction:rtl;}
.nopad {margin-right: 0;}
.feature-box .feature-image{border: 5px solid #ebebeb;margin-bottom: 15px;}
.feature-box .ribbon{position: absolute; top:-3px; right: -3px;}
.feature-box .left-block {float: right;font-size: 140%; }
.feature-box .right-block {float: left; color: #e54a06; font-size: 150%; margin-bottom: 15px;}
.feature-icons { clear: both;margin:20px 0 20px 0 ;padding: 10px 0 10px 0; width:100%; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;overflow: hidden; }
.feature-icons .icon {float: right;padding-right: 21px;position: relative;}
.feature-icons .icon p {display: inline;position: relative;bottom: .8em; }
.feature-icons .icon span { position: relative; bottom: .5em; font-size: 10px;}
.met-sq { position: relative; bottom: .5em; font-size: 10px; }
/* -- END FEATURES --*/

/*-----BROWSE CITY-----*/
.left-col {overflow:hidden; width: 630px;  margin: 0 0 20px 0; float:right;}
.right-col {overflow: hidden;float: left; width: 230px; border: 1px solid #ccc; background-color: #eeede9;padding: 15px; margin-bottom:15px;}
.right-col h2 {font-size: 170%; font-weight: 100; font-family:Georgia, "Times New Roman", Times, serif;margin-bottom: 15px;}
.right-col p {line-height: 180%;margin-bottom: 20px;font-family: Georgia, "Times New Roman", Times, serif; font-style:italic; font-size: 14px;}
.right-col a { color: #666;}
.right-col a:hover { color: #e54a06;}
.right-col img {margin-bottom: 15px;border: 3px solid #ccc;}
.browse-city {overflow: hidden; position: relative; border: 3px solid #eee;clear: both;padding: 10px;margin-bottom:20px;color: #666;}
.browse-city h2 {font-size: 170%; font-weight: 100; font-family:Georgia, "Times New Roman", Times, serif;margin-bottom: 15px;color: #e54a06; font-style:italic;}
.browse-city img {float: right; margin-left: 10px;margin-bottom: 10px;}
.browse-city .cityList {display: block; list-style: none;float: left;margin-right: 30px;width: 170px;}
.browse-city .cityPad {margin-right: 0;}
.browse-city li {padding: 0 0 10px 0;font-size: 140%;font-weight: 100;line-height: 140%;} 
.browse-city a {color: #666; }
.browse-city a:hover{ color: #e54a06;}

.feature-box p.info {clear: both; font-family: Georgia, "Times New Roman", Times, serif;font-size: 130%;line-height: 170%;color: #666; direction:rtl;}
/*----- END BROWSE CITU-----*/

/** 404 page */
.browse-city404 {overflow: hidden;position: relative; border: 3px solid #eee;clear: both;padding: 10px;margin-bottom:20px;color: #666;}
.browse-city404 h2 {font-size: 160%; font-weight: 100; font-family:Georgia, "Times New Roman", Times, serif;margin-bottom: 15px;color: #e54a06; font-style:italic;}
.browse-city404 img {float: right;margin-left: 5px;margin-bottom: 10px;}
.browse-city404 .cityList {display: block; list-style: none;float: left;margin-right: 30px;width: 170px;}
.browse-city404 .cityPad {margin-right: 0;}
.browse-city404 li {padding: 0 0 5px 0;font-size: 100%;font-weight: 100;line-height: 120%;} 
.browse-city404 a {color: #666; }
.browse-city404 a:hover{ color: #e54a06;}
/* end 404 page */



/* ----- RESULTS PAGE --------*/

.result-left-col {width: 286px ; float: right;}
.result-form .extra {width: 150px;}
.result-form {padding: 0; margin: 0;clear:both;}
.result-form { padding: 10px;width: 266px; border: 1px solid #ccc; background-color: #eeede9;}
.result-form .sect-pad { padding: 0px 0 0px 0;clear:both; }
.result-form .sectForm { display:none; margin-bottom:8px; display:block; }
.result-form a.sect { display:block; border:solid 1px #eeede9; margin-bottom:2px; padding-top:8px; color:#444; font-size:12px; font-weight:bold;}
.result-form a.sect:hover {	background-color:#e7e6e2; display:block; border:solid 1px #d8d7d3;}
.result-form .searchRes { margin-left:20px; margin-bottom:3px; }



.news-col {margin-top: 20px; padding: 10px;width: 266px; border: 1px solid #ccc; background-color: #eeede9;}
.news-col h2 {font-size: 170%; font-weight: 100; font-family:Georgia, "Times New Roman", Times, serif;margin-bottom: 15px;}
.news-col p{line-height: 180%;margin-bottom: 20px;}
.result-form h2 {background: url(../../images/Templates/result-search.png) no-repeat 120px;padding: 5px 0px 5px 0; font-size: 170%; font-family: Georgia, "Times New Roman", Times, serif;font-weight: 200;font-style: italic;margin-bottom: 20px;}
.updatebutt {  display: block;width: 81px; height: 31px;text-align: center; float: left;margin-left: 0px;text-decoration: none; color: #fff; font-weight: 600; font-size: 11px; line-height: 33px;background: url(../../images/Templates/update-butt.png) no-repeat top center;cursor: pointer; text-transform: uppercase;}
.result-form .pad {padding: 10px 0;clear:both;}
 .imgpad {padding: 10px 0;clear:both; display:block; background: url(../../images/Templates/dottedline.png) repeat-x center;  }

.result-form .form-elem-select{float: right;font-weight: 200; font-size: 120%;}
.result-form .form-elem-text{float: right;padding: 0 5px;line-height: 30px;font-weight: 200; font-size: 120%;}
.result-form h3.right-arrow {background: url(../../images/Templates/left-arrow.png) no-repeat right top;padding-left: 20px;}
.result-form h3.down-arrow {background: url(../../images/Templates/down-arrow.png) no-repeat right top;padding-left: 20px;}
.result-form h3 {color: #093; font-weight: bold;padding-bottom: 6px; padding-right:23px;}
.result-form .label { vertical-align:top; padding:5px; padding-top:8px; font-weight:bold;}
.result-form .field { padding-bottom:7px;}
.result-form .fieldText {padding-right:5px; float:right; margin-top:6px;}

.result-form .cbBox { float:right; height:25px; overflow:hidden; display:block; }
.result-form .cbLabel { padding-top:2px; display:block; float:right; }
.result-form .location-input { width:175px; }
.result-form .location-btn { float:left; margin-right:2px; }
.result-form .submit-next-btn {margin-right:4px;}
.result-form .submit-bottom-btn {float:right; margin-top:5px;}

.result-form .post-price-currency {float:right; padding-left:5px;}
.result-form .post-price-type {float:right}
.result-form .map-field { float:left;}


.form-elem-checkbox {float: left; width: 130px; padding-left:3px;display:block;overflow: hidden;}
.form-elem-checkbox li {width: 130px;float: left;font-size: 90%;}
.form-elem-checkbox label { float: left;  }
.form-elem-checkbox input[type="checkbox"] {float: right; } 
.result-form-cb {width:20px; display:block; float:right;}
.result-form-cbl {float:right; display:block; width:110px; padding-top:2px; text-align:right;}
.result-form-cbl .lbl {float:right;}

.form-elem-checkbox-adv {float: right; width: 210px; padding-left:3px;display:block;overflow: hidden;}
.form-elem-checkbox-adv li {width: 210px;float: right;font-size: 90%;}
.form-elem-checkbox-adv label { float: left;  }
.form-elem-checkbox-adv input[type="checkbox"] {float: left; } 
.result-form-cb-adv {width:20px; display:block; float:right;}
.result-form-cbl-adv {float:right; display:block; width:190px; padding-top:2px;}

.result-form-adv-deposit { float:right; margin-right:70px;}
.result-form-adv-price {  float:right; }
.result-form-adv-bed {  float:right;}
.result-form-adv-bath {  float:right; margin-right:70px;}
.result-form-adv-park {  float:right; margin-right:70px;}


.input-search-hint { color:#F00;}

.result-right-col {width: 624px; float: left;}

.result-block {width: 602px;  padding: 8px;overflow: hidden; border: 1px solid #ccc;background-color: #f8f7f3;margin-bottom: 10px;}

.result-header-block {width: 602px; height: 36px;background: url(../../images/Templates/results-blue-bar.png) no-repeat;color: #fff;font-weight: bold;font-size: 1.3em;line-height: 36px;padding-bottom: 10px;}

.result-header-title {float: right; text-align:left;padding-right:10px;}
.result-header-icons {float: left; text-align: right; padding-left: 10px;}
.result-header-icons img {padding: 6px 10px 0 10px;float: right;}
.result-header-icons p {float: right;}


.result-image-block {float: right;width: 200px;padding-left:10px;position: relative;}
.result-image-block img { border: 5px solid #ebebeb;}
.result-image-block .sticker { border: 0;position: absolute; top: -8px; left:14px;}
.result-text-block {float:right; width: 370px;}
.result-text-block p {line-height: 18px;padding-bottom: 12px;}
.result-text-block span {position: relative; bottom: .5em; font-size: 10px;}
.result-header-green {background: url(../../images/Templates/results-green-bar.png) no-repeat; }
.result-info { line-height: 32px;padding: 10px 0;font-size: 20px; font-weight: 200; color: #1f883c;}
.page-nav {border: 1px solid #ccc;background-color: #f8f7f3;height: 40px;margin: 0 0 12px 0;position: relative;}
.page-nav-sml {border: 1px solid #ccc;background-color: #f8f7f3;height: 30px;margin: 0 0 12px 0;position: relative; padding-right:10px;}
.page-nav-sml a {color: #333;font-weight: bold; line-height:30px;}
.page-nav-sml a:hover { color: #093;}

.pagination ul { float: right; margin-right: 30px;}
.pagination li {height: 40px; float: right; padding: 0 9px;font-size: 16px; font-weight: bold;line-height: 40px; background: url(../../images/Templates/pagenav-divider.png) no-repeat right 8px;}
.pagination li.nodiv { background: 0;}

.pagination li a { display: block; height: 20px; color: #093;} 
.pagination li a:hover{color: #333; }
.page-nav form{ position: absolute;right: 10px;top: 3px;}

/*---- END RESULTS PAGE ------*/


/*-------- DETAIL PAGE ----------*/
.detail-left-col {float: right; width: 474px; padding: 10px;margin-left: 10px;border: 1px solid #ccc;overflow: hidden;}
.detail-right-col {float: left; width: 384px;padding: 10px;overflow: hidden;}

.detail-image-block {text-align: center;margin-bottom: 10px;}
.detail-icon-block {overflow: hidden; margin-bottom:10px;width: 100%; background-color: #eeede9; border: 1px solid #ccc;height: 41px;line-height: 40px;position:relative;}
.detail-icon-block p {float: right; padding-right: 10px;font-weight: bold; font-size: 120%; }
.detail-icon-block img {float: right;padding-top: 5px; padding-right: 20px;}
.detail-gallery {text-align: center;overflow: hidden;margin-bottom: 10px;}

.detail-gallery ul {list-style: none;padding: 0; margin: 0;}
.detail-gallery li {float: left; margin-right: 5px;}
.detail-gallery li.last {margin-right: 0;}
.detail-map {}

.detail-title {font-size: 140%;font-weight: bold;border-bottom: 1px solid #ccc;margin-bottom: 10px;height: 30px;height: 60px;overflow: hidden;}
.detail-title span { padding-left: 20px;color: #e54a06;font-size: 17px;line-height: 24px;display: block;}
.detail-icons {width: 100%;margin-bottom: 15px; }
.detail-icons ul {list-style: none;width: 100%;}
.detail-icons li {float: right; width: 85px; text-align: center;}
.detail-icons li img  { text-align: center;padding-bottom: 4px;  }
.detail-icons li p {display: inline; position: relative; text-align: center;bottom: 15px;right: 1px; font-weight:bold;}
.detail-icons span { position: relative; bottom: .5em; font-size: 10px;}

.detail-info-block{border: 1px solid #ccc;overflow: hidden; padding: 15px 15px; margin-bottom:15px; }
.detail-info-block td {padding-bottom: 10px; }
.detail-buttons {width: 100%;overflow: hidden;margin: 0; margin-top:10px; padding-left: 20px;}
.detail-buttons a {float: left;height: 46px;display: block;text-indent: -9999px;cursor: pointer;margin-right: 3px;}
.detail-buttons .contact-agent-butt {width: 126px; background: url(../../images/Templates/fa/detail-buttons.png) no-repeat 0 0;}
.detail-buttons .send-to-butt {width: 109px; background: url(../../images/Templates/fa/detail-buttons.png) no-repeat -140px 0;}
.detail-buttons .print-butt {width: 77px; background: url(../../images/Templates/fa/detail-buttons.png) no-repeat -260px 0;}

.propertyContact { background-color: #eeede9; border: 1px solid #ccc;padding: 15px 10px; margin-bottom:15px;}
.propertyContact h6 {padding: 0px 0px 0px 0; font-size: 170%; font-family: Georgia, "Times New Roman", Times, serif;font-weight: 200;font-style: italic;margin-bottom: 10px;}
.propertyContact .field {padding:3px 3px;}
.propertyContact input[type=text] { width:190px; }
.propertyContact textarea {width:190px; height:70px;}
.propertyContact .label {vertical-align:top; padding-top:6px; }

.friendDetails { background-color: #eeede9; border: 1px solid #ccc;padding: 15px 10px; margin-bottom:15px;}
.friendDetails h6 {padding: 0px 0px 0px 0; font-size: 170%; font-family: Georgia, "Times New Roman", Times, serif;font-weight: 200;font-style: italic;margin-bottom: 10px;}
.friendDetails .field {padding:3px 3px;}
.friendDetails input[type=text] { width:190px; }
.friendDetails textarea {width:190px; height:70px;}
.friendDetails .label {vertical-align:top; padding-top:6px; }

.greyBox { background-color: #eeede9; border: 1px solid #ccc; padding: 15px 10px; margin-bottom:15px;}
.greyBox h6,.greyBox h1 {padding: 0px 0px 0px 0; font-size: 170%; font-family: Georgia, "Times New Roman", Times, serif;font-weight: 200;font-style: italic;margin-bottom: 10px;}
.greyBox .field {padding:3px 3px;}
.greyBox input[type=text], .greyBox input[type=password] { width:210px; }
.greyBox textarea {width:190px; height:70px;}
.greyBox .label {vertical-align:top; padding-top:6px; }

.left-link {float: right; padding-right: 30px;line-height: 40px;}
.left-link a { color: #333;font-weight: bold;}
.left-link a:hover { color: #093;}

.right-link {float: left; padding-left: 20px;line-height: 40px;}
.right-link a { color: #333;font-weight: bold;}
.right-link a:hover { color: #093;}
/*--------END DETAIL PAGE -------*/


/*---FOOTER AND INNER-FOOTER ----*/
#footer {clear:both;width: 100%; background: #333; height: 374px;clear: both;z-index: -1000; color: #aaa;background: #2d2d2d url(../../images/Templates/footer-bg.jpg) repeat-x top left;}
#inner-footer { width: 960px; margin: 0 auto;font-size: 120%;line-height: 2em;overflow: hidden;height: 374px;}
.footer-box { width: 200px;float: left;padding: 20px 20px 0 20px;position: relative;border-right: 1px solid #666;margin-top:20px;}
.footer-box li { padding-right: 10px;line-height: 18px;padding-bottom: 9px;}
.footer-box a { color: #999;}
.footer-box a:hover { color: #fff;}

.nobord {border-right: 0;}

.footer-box .footer-icon {display: block; margin-bottom: 15px;margin-left:30px;}
.footer-box li.footer-title1 {height:30px; color: #fff; font-size: 160%;font-weight: 600;background: url(../../images/Templates/footer-icon-2.png) no-repeat 160px 0; margin-right:-9px;padding-right: 56px; margin-bottom:15px;}
.footer-box li.footer-title2 {height:30px; color: #fff; font-size: 160%;font-weight: 600;background: url(../../images/Templates/footer-icon-3.png) no-repeat 160px 0; margin-right:-9px;padding-right: 56px; margin-bottom:15px;}
.footer-box li.footer-title3 {height:30px; color: #fff; font-size: 160%;font-weight: 600;background: url(../../images/Templates/footer-icon-4.png) no-repeat 160px 0; margin-right:-9px;padding-right: 56px; margin-bottom:15px;}
.flags {font-size: 110%; font-weight: 100;color: #fff; direction:ltr; }
.flags li {line-height: 3em; text-align:right; }
.flags li img {margin-bottom: -10px;padding-left: 10px; float:right;}
.footer-nopad {padding-right: 0;} 
/*-- END FOOTER STUFF --*/


/* Ajax Gallery */
.propertyGalleryContainer {margin-bottom:5px;}
#gallery {position:relative; width:505px; direction:ltr;}
#image {position:relative; width:509px; height:390px; padding:0px; background:#FFF url(../../images/Templates/loading.gif) center center no-repeat; overflow:hidden; }
#image img {position:absolute; margin:4px;}
#thumbwrapper {width:505px; height:130px; background:#000;}
#thumbarea {position:relative; overflow:hidden; height:120px; width:505px; }
#thumbs {position:absolute; list-style:none; height:120px; width:10000px;}
#thumbs li {float:left; cursor:pointer; margin:2px; padding:0px;}
.imgnav {position:absolute; height:500px; width:20%; z-index:100; outline:none; cursor:pointer}
#previmg {left:0; background:url(../../images/Templates/left.gif) left center no-repeat; height:300px; overflow:hidden;}
#previmg:hover {opacity:1; filter:alpha(opacity=100)}
#nextimg {right:0; background:url(../../images/Templates/right.gif) right center no-repeat; height:300px; overflow:hidden;}
#nextimg:hover {opacity:1; filter:alpha(opacity=100)}

/* END Ajax Gallery */


/*registration popup starts */
#basic-modal-content {display:none;} 
#simplemodal-overlay {background-color:#000; cursor:wait;}
#simplemodal-container {height:320px; width:600px; color:#444; background-color:#eeede9; border:4px solid #444; padding:12px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../../images/Templates/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container #basic-modal-content {padding:8px; font-size:12px;}
#simplemodal-container #basic-modal-content table td .label{padding:3px;}
#simplemodal-container #basic-modal-content h3 {font-size: 170%; font-weight: 100; font-family:Georgia, "Times New Roman", Times, serif;margin-bottom: 15px;}
#simplemodal-container #basic-modal-content h6 {color: #093; font-weight: bold;padding-bottom: 6px; margin-top:10px;}
#simplemodal-container #basic-modal-content table td .label { vertical-align:top; padding:5px; padding-top:8px; font-weight:bold; }
#simplemodal-container #basic-modal-content table td .field { padding-bottom:7px;}
/*registration popup ends */



/* message box */
.errorsCol {width:930px; margin-bottom:10px;}
.notify_box { border-radius:4px; -moz-border-radius:4px 4px 4px 4px; -webkit-border-radius:4px; -khtml-border-radius:4px; clear:both; min-height: 30px; line-height: 20px; margin:8px 0; margin-top:0px; padding:20px 25px 10px 60px; background-repeat:no-repeat; background-position:15px center; border-width: 1px; border-style: solid; position: relative;  }
.notify_box p { color: #333333; font-size: 12px; margin: 0; padding: 0; }
.notify_box div { padding-right:30px;}
.notify_box span { background: url("../../images/Templates/cross_grey_small.png") no-repeat left top; display: block; width: 7px; height: 7px; position: absolute; top:5px; left: 5px; cursor:pointer; }
.notify_warning { background-color:#FFEAA8; background-image:url("../../images/Templates/error.png"); border-color:#FFC237; color:#826200; background-repeat:no-repeat; background-position:885px;}
.notify_information { background-color:#D0E4F4; background-image:url("../../images/Templates/information.png"); border-color:#418ACC; color:#235685; background-repeat:no-repeat; background-position:885px;}
.notify_error { background-color:#FCCAC2; background-image:url("../../images/Templates/attention.png"); border-color:#EB5339; color:#AC260F; background-repeat:no-repeat; background-position:885px; }
.notify_confirmation { background-color:#EFFFB9; background-image:url("../../images/Templates/tick.png"); border-color:#99C600; color:#3C5A01; background-repeat:no-repeat; background-position:885px;}
/* end message box */


/* single column */
.single-column { float:left; width:932px; }
.single-column h1 {padding: 0px 0px 0px 0; font-size: 200%; font-family: Georgia, "Times New Roman", Times, serif;font-weight: 200;font-style: italic;margin-bottom: 20px;}
/* end single column */


/*tabs */
ul.tabs { 	margin: 0; 	padding: 0; float: right; list-style: none; height: 28px; margin-right:20px; width: 100%; }
ul.tabs li { float: right; margin: 0; padding: 0; height: 28px; line-height: 28px; border-left: none; margin-bottom: -1px; background: #208539; color:#FFF; 	overflow: hidden; position: relative; font-weight:bold; }
ul.tabs li.active { background-color:#3cb14c; }
ul.tabs li a { text-decoration: none; color: #000; display: block; font-size: 1.2em; padding: 0 20px; border: 1px solid #fff; outline: none; color:#FFF;}
ul.tabs li a:hover { background: #3cb14c; }	
/* end tabs */


/* tables sorting*/
table.tablesorter { font-size: 12px; background-color: #F4F4F4; width: 100%; border: 1px solid #999; }
table.tablesorter th { text-align: left; padding: 5px; }
table.tablesorter td { color: #000; padding: 5px; text-align:center; }
table.tablesorter .even { background-color: #3D3D3D; }
table.tablesorter .odd { background-color: #6E6E6E; }
table.tablesorter .header { background-image: url(../../images/Templates/bg.png); vertical-align:middle; height:30px; background-repeat: no-repeat; padding-left: 30px;	padding-top: 2px; height: auto; cursor:pointer; }
table.tablesorter .headerSortUp { background-image: url(../../images/Templates/asc.png); background-repeat: no-repeat; }
table.tablesorter .headerSortDown { background-image: url(../../images/Templates/desc.png); background-repeat: no-repeat; }
table.account-view td { padding:3px; }
/* end table sorting */


/* article */
#articleTop{text-align:center; margin-bottom:15px;}
#articleBottom { margin-bottom:15px; display:block; padding-bottom:20px; padding:20px; font-size:12px; line-height:1.5; }
#articleBottom td { padding:10px; }
#articleBottom a { display: block; height: 20px; color: #093;} 
#articleBottom a:hover{color: #333; }
#articleBottom p { padding-bottom:10px; }
#articleSumary { margin-bottom:15px; }
table.article td { padding:20px 5px; border-bottom:solid 1px #CCC; vertical-align:top; }
table.article { margin-bottom:15px; }
.articleClearlink {	text-decoration:none; color:#444; }
/* end article */


/* slider */
.bx-next:hover, .bx-prev:hover { background-position: 0 0; }
.bx-pager .pager-active, .bx-pager a:hover { background-position: 0 0; }
.bx-pager { text-align:center; padding-top: 7px; font-size:12px; color:#666; }
.bx-captions { text-align:center; font-size: 12px; padding: 7px 0; color: #666; }
.bx-auto { text-align: center; padding-top: 15px; }
.bx-auto a { color: #666; font-size: 12px; }
.bx-wrapper {direction:ltr;}
/* end slider */



/* Dropdown control */
.selectBox-dropdown { width: 210px;  padding-right: 5px; position: relative; border: solid 1px #c9c9c9; line-height: 2; text-decoration: none; color: #444; outline: none;
vertical-align: top; background: #fbfbfb;  background: -moz-linear-gradient(top, #fbfbfb 1%, #f3f1f1 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #fbfbfb), color-stop(100%, #f3f1f1)); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f3f1f1', GradientType=0); -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .75); box-shadow: 0 1px 0 rgba(255, 255, 255, .75); -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
display: inline-block; cursor: default; }
.selectBox-dropdown:focus, .selectBox-dropdown:focus .selectBox-arrow { border-color: #666; }
.selectBox-dropdown.selectBox-menuShowing { -moz-border-radius-bottomleft: 0; -moz-border-radius-bottomright: 0; -webkit-border-bottom-left-radius: 0; -webkit-border-bottom-right-radius: 0; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
.selectBox-dropdown .selectBox-label { width: 100%; padding: .2em .3em; padding-left:8px; display: inline-block; white-space: nowrap; overflow: hidden; font-size:12px; }
.selectBox-dropdown .selectBox-arrow { position: absolute; top: 0; left: 0; width: 23px; height: 100%; background: url(../../images/Templates/form/dd-arrow.png) 50% center no-repeat; border-right: solid 1px #BBB; float:left; }
.selectBox-dropdown-menu { font-size:12px; position: absolute; z-index: 99999; max-height: 200px; border: solid 1px #BBB; /* should be the same border width as .selectBox-dropdown */
background: #FFF; -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .2); -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .2); box-shadow: 0 2px 6px rgba(0, 0, 0, .2); overflow: auto; }
.selectBox-inline { width: 250px; outline: none; border: solid 1px #BBB; background: #FFF; display: inline-block; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; overflow: auto; }
.selectBox-inline:focus { border-color: #666; }
.selectBox-options, .selectBox-options LI, .selectBox-options LI A { list-style: none; display: block; cursor: default; padding: 0; margin: 0; }
.selectBox-options LI A { line-height: 1.5; padding: 0 .5em; white-space: nowrap; overflow: hidden; background: 6px center no-repeat; }
.selectBox-options LI.selectBox-hover A { background-color: #EEE; } 
.selectBox-options LI.selectBox-disabled A { color: #888; background-color: transparent; }
.selectBox-options LI.selectBox-selected A { background-color: #C8DEF4; }
.selectBox-options .selectBox-optgroup { color: #666; background: #EEE; font-weight: bold; line-height: 1.5; padding: 0 .3em; white-space: nowrap; }
.selectBox.selectBox-disabled { color: #888 !important; }
.selectBox-dropdown.selectBox-disabled .selectBox-arrow { opacity: .5; filter: alpha(opacity=50); border-color: #666; }
.selectBox-inline.selectBox-disabled { color: #888 !important; }
.selectBox-inline.selectBox-disabled .selectBox-options A { background-color: transparent !important; }
/* end Dropdown control */