
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
background:transparent none repeat scroll 0 0;
border:0 none;
font-size:100%;

}
img {
border:0 none;
}

body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px; margin:0px; padding:0px; color: #444444; 
}

form {
	margin: 0; padding: 0;
}
		
td, ul, li {
	font-family:Verdana, Geneva, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	margin:8px 0;
	padding:0;
}

h1 {
	font-size:14px;
	margin:0;
	font-weight:bold;
}
h2 {
	font-size:150%;
}
h3 {
	font-size:120%;
	font-weight:bolder;
}

.page_header {
	background: #FBFBFB url('../../images/Templates/Admin/page_title.gif') repeat-x left bottom;
	border-bottom: 0px;
}



.page_header {
	line-height:140%;
	padding:10px 10px 10px 40px;
	position:relative;
}
.page_header h1 {
	font-size:14px;
	margin:0;
}

.page_header h1.page_title {
font-weight:bold;
}
.page_header h1.page_title span {
	display:none;
}

.page_header table {
	border-collapse:collapse;
}
.page_header table td { 
	padding:0px;
	border: none;
}
.page_header_a {
	padding-bottom:6px;
}



.foot { 
	text-align:center; border: 1px solid #dcdce9; padding:5px;
}
	

a {
	color: #003399;
}
h1 a:hover {
	color: #FF6600;
}
h1 a {
text-decoration: none;
}


.page {
	padding:4px;

}






.btn, .btnSml {
	border: 1px solid #BCBCBC; 
	background-color:#F0F0F0;
	font-family:Verdana, Geneva, sans-serif;
	padding:3px;
	font-size:11px;
	font-weight:normal;
	cursor:pointer;
}

.btn {
	font-weight:normal;
	background-color: #EFEFEF;
	background-image: url(../js/extjs/resources/images/default/grid/row-over.gif);
	border-color:#ACACAC;
}

.btn:hover {
	border-color:#808080;
}

.btnSml { 
	font-size:10px;
	padding-left:2px;
	padding-right:2px;
	padding-top:1px;
	padding-bottom:1px;
	font-size:10px;	
	
	font-weight:normal;
	background-color: #EFEFEF;
	background-image: url(../js/extjs/resources/images/default/grid/row-over.gif);
	border-color:#ACACAC;
}

.btnSml:hover {
	border-color:#808080;
}



.gridNav ul { list-style: none; padding: 0; margin: 0;}
.gridNav li { float: left; margin:3px; margin-top:0px; margin-left:0px; font-size:11px; }
.gridNav li.first {margin-left:0px; }
.gridNav li.selected {font-weight:bold; background-color:#DBEAF5;  float: left;  padding:3px 6px; display: block; border: 1px solid #dcdce9; text-decoration: none; text-align: center;}
.gridNav li a {  float: left;  padding:3px 6px; display: block; border: 1px solid #dcdce9; color: #4A4B4C; text-decoration: none; text-align: center; }
/* Hide from IE5-Mac \*/
.gridNav li a { float: none }
.gridNav li a:hover { background-color:#DBEAF5; }
/* End hide */
.gridNav { width:60%;  height:24px; display:inline;}


.grid {

	
	border-collapse:collapse; 
	border: 1px solid #D0D0D0;
	background-color: white;
width: 100%;
border-spacing: 0px 0px;
}

/*
.grid th { white-space:nowrap; background-color: #F7F8F7; border-top: 1px solid #E1E6EA;border-bottom: 1px solid #E1E6EA; text-align:left; padding-bottom:2px; padding-top:2px; padding-left:4px; padding-right:4px; font-weight:bold;}
*/

.grid th {
background: #F9F9F9 url(http://www.extjs.com/deploy/dev/resources/images/default/grid/grid3-hrow.gif) repeat-x 0px 0%;
border-left: 1px solid #EEE;
border-right: 1px solid #D0D0D0;
border-top: 1px solid #EEE;
	border: 1px solid #D0D0D0;
padding: 4px;
text-align: left;
vertical-align: middle;

font-size: 12px;

font-style: normal;
font-weight: normal;
display: table-cell;
white-space:nowrap;
}

.grid td { 

border-bottom:1px solid #E6E6E6; color:#333333; padding-bottom:4px; padding-top:4px; padding-left:4px; padding-right:4px;
border-top: 1px solid #D0D0D0;
font-size:12px;

}

.gridHeadAr { vertical-align:text-bottom; }
.gridHeadLink {text-decoration: none; font-weight:bold; color: #333333;}
.gridFoot { padding:0px; padding-top:5px; width:100%; margin-left:3px;}
.gridFootTxt {display:inline; padding-left:10px; line-height:20px;}

.grid a{color:#333333; font-weight:normal; font-size:12px;}
.grid a:hover {text-decoration:none;}
.gridRowOver { 
/* background-color:#EAF3F9; */

	background-color: #EFEFEF;
	background-image: url(../../../js/extjs/resources/images/default/grid/row-over.gif);
	background-repeat: repeat-x;
	border-color: #DDD;

}


.frmBody{ border-collapse: collapse; background-color: #F7F8F7; border: 1px solid #E1E2E0; padding:3px; margin-bottom:5px;}



.frm { border-collapse: collapse; }
.frmTD { padding:2px;}
.frmH3 { font-size:12px; margin:0px; padding:0px;}
.frmH2 { font-size:13px; font-weight:bold; padding-top:5px; padding-bottom:2px;}
.frmH2f { font-size:13px; font-weight:bold; padding-bottom:2px;}
/* .frmSep { width:99%; border-bottom:dashed 1px #C5CDCF;	margin:0px;	padding:3px; line-height:0px; height:1px; } */
.frmSep { width:99%; border-bottom:dashed 1px #C5CDCF;	margin:0px;	padding:0px; line-height:0px; display:block; height:1px; }
.frmSepTD { padding:2px; }
.frmF {	
	border: 1px solid #C5C5C5; font-size: 12px;	font-family: arial, helvetica, sans-serif;;	padding: 1px;
	padding:2px;
	border-color: #C1C1C1;
	background-color: white;
	background-image: url(../js/extjs/resources/images/default/form/text-bg.gif);
	background-repeat:repeat-x;
}


.frmFGrid {
	border:solid 1px #FFF; 
	background:none; 
	width:100%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px; margin:0px; padding:0px; color: #444444; 
}

.frmL { padding:2px;}
.frmFBg { padding:2px;}

.al-message {
	padding:3px; 
	background-color:#FCFDC4;
	border:solid 1px #E4E4E4;
	margin-bottom:5px;
	display:block;
	text-align:left;
}

.al-message ul {
	list-style: none;
	padding: 0;
	margin: 0
}

.al-message li {
	padding:2px;
	margin: 0;
	text-align:left;
}

.al-message li.error {
/*	color:#FF0000; */
}




.jd-head {
	font-weight:bold;
	font-size:12px;
	display:block;
	margin-bottom:4px;
}
 
.jd-tb {
	border-collapse:collapse;
}
 
.jd-th {
	padding:3px;
	background-color:#F7F8F7;
	border:solid 1px #E1E2E0;	
	width:200px;
	font-size:12px;
 
	color:#333;
}
.jd-td {
	padding:3px;
	border:solid 1px #E1E2E0;
	vertical-align:top;
	font-size:12px;	
}
 
.jd-pl {
	font-size:10px; display:block; text-align:center; width:150px;
}


.grid-row-selected {
	background-color:#DFE8F6;
}



.pad0 {
	padding:0px;
}

.tab-nav-box {
	margin-bottom:5px; 
	border-bottom:dashed 1px #CCC; 
	padding-bottom:5px;
}

.tab-nav {
	padding-left:20px;
	font-weight:bold; vertical-align:center; font-size:13px;
}
.tab-nav a {
	text-decoration:none;
}

.sch-tb {
	border-collapse:collapse;
}

.sch-week-no {
	background-color:#036;
	color:#FFF;
	font-size:10px;
	text-align:center;
	border:solid 1px #666;	
}
.sch-head-week-no {
	min-width:120px;
	border:solid 1px #666;
	font-weight:bold;
	background-color:#FCC;
	font-size:10px;
	text-align:center;
}
.sch-week-date {
	font-size:9px;
	text-align:center;
	padding:4px;	
	border:solid 1px #666;
}
.sch-head-week-date {
	font-size:9px;
	font-weight:bold;
	text-align:center;
	border:solid 1px #666;	
	background-color:#E5E5E5;
}
.sch-focus {
	font-size:9px;
	border:solid 1px #666;
	text-align:center;
	padding:4px;
}
.sch-head-focus {
	font-weight:bold;
	font-size:10px;
	border:solid 1px #666;
	padding:4px;
	min-width:100px;
	background-color:#E5E5E5;
	text-align:center;
}

.sch-foc-element {
	cursor:pointer;
}
.sch-foc-title {
	font-weight:bold;
	display:block;
	margin-bottom:2px;
	cursor:pointer;	
}

.sch-foc-desc {
	cursor:pointer;
}

.sch-head-focus-sub {
	font-weight:bold;
	font-size:9px;
	border:solid 1px #666;
	padding:4px;
	min-width:100px;
	background-color:#FF9;
	text-align:center;	
}


.gridLocGrpHead {
	font-weight:bold; color:#006633;
}


.layoutTD {
	border:solid 1px #CCCCCC;
	padding:4px;
	vertical-align:top;
	border-top:dashed 1px #E6E6E6;
	border-bottom:dashed 1px #E6E6E6;
}

.layoutTDActions {
	border:solid 1px #CCCCCC;	
	border-top:dashed 1px #E6E6E6;
	padding:4px;	
	padding-bottom:10px;
}


.layoutImgBox {
	padding:3px;
	vertical-align:middle;
	text-align:center;
	border:solid 1px #CCCCCC;	
	border-bottom:dashed 1px #E6E6E6;
	height:150px;
}

.layoutImgHead {
	font-size:10px;
}
.layoutImgHeadStrong {
	color:#006633;
	font-weight:bold;
	margin-bottom:2px;
}

.layoutStatus {
	font-size:14px;
	font-weight:bold;
	margin-top:4px;
}

.layoutNote {
	font-size:10px;
	margin-top:4px;	
}

.layoutImg {
/*	padding:4px;
	border:solid 1px #E6E6E6; */
}

.layoutApproversBox {
	display:block;
	margin-top:4px;
}

.layoutApprover {
	font-size:10px;
}

.jobProgPoint {
	font-size:9px; vertical-align:top; padding:5px; 
}

.jobProgLine {
	background-image:url(../images/icons/prog-line.png);
}



.smlTxt1 {
	font-size:10px; color:#666; font-weight:normal;
}

.smlTxt2 {
	font-size:10px; color:#006633; font-weight:normal;
}

.icon-remove {
	background-image:url(../images/icons/cancel.png) ! important;
}

.menu-bar { 
	background-color: #EFEFEF;
	background-repeat: repeat-x;
	height:28px;
}


.ralign {
	text-align:right;
}

.viewLbl {
	border-bottom:dashed 1px #CCC;
	padding:5px;
	font-weight:bold;
}
.viewData {
	border-bottom:dashed 1px #CCC;
	padding:5px;

}
