/*Copyright (c) 2009, Yahoo! Inc. All rights reserved.Code licensed under the BSD License:http://developer.yahoo.net/yui/license.txtversion: 2.7.0*/

.yui-navset .yui-nav li,.yui-navset .yui-navset-top .yui-nav li,.yui-navset .yui-navset-bottom .yui-nav li{
margin:0 .5em 0 0;
}
.yui-navset-left .yui-nav li,.yui-navset-right .yui-nav li{
margin:0 0 0.5em;
}
.yui-navset .yui-content .yui-hidden{
position:absolute;
left:-999999px;
visibility:hidden;
}
.yui-navset .yui-navset-left .yui-nav,.yui-navset .yui-navset-right .yui-nav,.yui-navset-left .yui-nav,.yui-navset-right .yui-nav{
width:6em;
}
.yui-navset-top .yui-nav,.yui-navset-bottom .yui-nav{
width:auto;
}
.yui-navset .yui-navset-left,.yui-navset-left{
padding:0 0 0 6em;
}
.yui-navset-right{
padding:0 6em 0 0;
}
.yui-navset-top,.yui-navset-bottom{
padding:auto;
}
.yui-nav,.yui-nav li{
margin:0;
padding:0;
list-style:none;
}
.yui-navset li em{
font-style:normal;
}
.yui-navset{
position:relative;
zoom:1;
}
.yui-navset .yui-content,.yui-navset .yui-content div{
zoom:1;
}
.yui-navset .yui-content:after{
content:'';
display:block;
clear:both;
}
.yui-navset .yui-nav li,.yui-navset .yui-navset-top .yui-nav li,.yui-navset .yui-navset-bottom .yui-nav li{
display:inline-block;
display:-moz-inline-stack;
*display:inline;
vertical-align:bottom;
cursor:pointer;
zoom:1;
}
.yui-navset-left .yui-nav li,.yui-navset-right .yui-nav li{
display:block;
}
.yui-navset .yui-nav a{
position:relative;
}
.yui-navset .yui-nav li a,.yui-navset-top .yui-nav li a,.yui-navset-bottom .yui-nav li a{
display:block;
display:inline-block;
vertical-align:bottom;
zoom:1;
}
.yui-navset-left .yui-nav li a,.yui-navset-right .yui-nav li a{
display:block;
}
.yui-navset-bottom .yui-nav li a{
vertical-align:text-top;
}
.yui-navset .yui-nav li a em,.yui-navset-top .yui-nav li a em,.yui-navset-bottom .yui-nav li a em{
display:block;
}
.yui-navset .yui-navset-left .yui-nav,.yui-navset .yui-navset-right .yui-nav,.yui-navset-left .yui-nav,.yui-navset-right .yui-nav{
position:absolute;
z-index:1;
}
.yui-navset-top .yui-nav,.yui-navset-bottom .yui-nav{
position:static;
}
.yui-navset .yui-navset-left .yui-nav,.yui-navset-left .yui-nav{
left:0;
right:auto;
}
.yui-navset .yui-navset-right .yui-nav,.yui-navset-right .yui-nav{
right:0;
left:auto;
}
 .yui-navset .yui-nav, .yui-navset .yui-navset-top .yui-nav{

}
 .yui-navset .yui-nav li, .yui-navset .yui-navset-top .yui-nav li{
margin:0 .16em 0 0;
padding:1px 0 0;
zoom:1;
}
 .yui-navset .yui-nav .selected, .yui-navset .yui-navset-top .yui-nav .selected{
margin:0 .16em -1px 0;
}
.yui-navset .yui-nav a, .yui-navset .yui-navset-top .yui-nav a{
background:#d8d8d8 url(../../images/Templates/Admin/template/tab_sprite.png) repeat-x ;
border:solid #a3a3a3;
border-width:0 1px;
color:#000;
position:relative;
text-decoration:none;
height:20px;
}

/*
unselected tab
*/
 .yui-navset .yui-nav a em, .yui-navset .yui-navset-top .yui-nav a em{
border:solid #a3a3a3;
border-width:1px 0 0;
cursor:hand;
padding:.22em .75em;
left:0;
right:0;
bottom:0;
top:-1px;
position:relative;
}

/* selected tab background */
 .yui-navset .yui-nav .selected a, .yui-navset .yui-nav .selected a:focus, .yui-navset .yui-nav .selected a:hover{
	background:#FFF url(../../images/Templates/Admin/template/tab_sprite.png) repeat-x left -1620px;
	color:#000;
}
/* focuse tab item item */
 .yui-navset .yui-nav a:hover, .yui-navset .yui-nav a:focus{
background:#bfdaff url(../../images/Templates/Admin/template/tab_sprite.png) repeat-x left -1300px;
outline:0;
}
 .yui-navset .yui-nav .selected a em{
padding:.22em .75em;
}

/** selected tab border color */
 .yui-navset .yui-nav .selected a, .yui-navset .yui-nav .selected a em{
border-color:#666;
}
 .yui-navset .yui-content{
background:#edf5ff;
}

/*
	control the content border 
*/
 .yui-navset .yui-content, .yui-navset .yui-navset-top .yui-content{
 border-top:1px solid #999; 
padding:.25em .5em;
}
 .yui-navset-left .yui-nav, .yui-navset .yui-navset-left .yui-nav, .yui-navset .yui-navset-right .yui-nav, .yui-navset-right .yui-nav{
border-width:0 5px 0 0;
Xposition:absolute;
top:0;
bottom:0;
}
 .yui-navset .yui-navset-right .yui-nav, .yui-navset-right .yui-nav{
border-width:0 0 0 5px;
}
 .yui-navset-left .yui-nav li, .yui-navset .yui-navset-left .yui-nav li, .yui-navset-right .yui-nav li{
margin:0 0 .16em;
padding:0 0 0 1px;
}
 .yui-navset-right .yui-nav li{
padding:0 1px 0 0;
}
 .yui-navset-left .yui-nav .selected, .yui-navset .yui-navset-left .yui-nav .selected{
margin:0 -1px .16em 0;
}
 .yui-navset-right .yui-nav .selected{
margin:0 0 .16em -1px;
}
 .yui-navset-left .yui-nav a, .yui-navset-right .yui-nav a{
border-width:1px 0;
}
 .yui-navset-left .yui-nav a em, .yui-navset .yui-navset-left .yui-nav a em, .yui-navset-right .yui-nav a em{
border-width:0 0 0 1px;
padding:.2em .75em;
top:auto;
left:-1px;
}
 .yui-navset-right .yui-nav a em{
border-width:0 1px 0 0;
left:auto;
right:-1px;
}
 .yui-navset-left .yui-nav a, .yui-navset-left .yui-nav .selected a, .yui-navset-left .yui-nav a:hover, .yui-navset-right .yui-nav a, .yui-navset-right .yui-nav .selected a, .yui-navset-right .yui-nav a:hover, .yui-navset-bottom .yui-nav a, .yui-navset-bottom .yui-nav .selected a, .yui-navset-bottom .yui-nav a:hover{
background-image:none;
}
 .yui-navset-left .yui-content{
border:1px solid #808080;
border-left-color:#243356;
}
 .yui-navset-bottom .yui-nav, .yui-navset .yui-navset-bottom .yui-nav{
border-width:5px 0 0;
}
 .yui-navset .yui-navset-bottom .yui-nav .selected, .yui-navset-bottom .yui-nav .selected{
margin:-1px .16em 0 0;
}
 .yui-navset .yui-navset-bottom .yui-nav li, .yui-navset-bottom .yui-nav li{
padding:0 0 1px 0;
vertical-align:top;
}
 .yui-navset .yui-navset-bottom .yui-nav a em, .yui-navset-bottom .yui-nav a em{
border-width:0 0 1px;
top:auto;
bottom:-1px;
}
 .yui-navset-bottom .yui-content, .yui-navset .yui-navset-bottom .yui-content{
border:1px solid #808080;
border-bottom-color:#243356;
}

.yui-navset .yui-content {
	background:#FFF;
	height:1px;
	overflow:hidden;
}